@font-face {
    font-family: NunitoRegular;
    src: url(../fonts/Nunito-Regular.ttf) format("truetype");
}

@font-face {
    font-family: NunitoSemiBold;
    src: url(../fonts/Nunito-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: NunitoBold;
    src: url(../fonts/Nunito-Bold.ttf) format("truetype");
}

body {
    font-family: NunitoRegular;
    letter-spacing: .4px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: NunitoBold;
    letter-spacing: 1px;
}

.outer {
    margin: 50px;
    padding: 15px;
    background-color: #252a41;
    color: #fff;
    border-radius: 15px;

    .left-section {
        .burger-button {
            position: absolute;
            display: inline-block;
            background-color: #80808066;
            padding: 4px;
            border-radius: 10px;
    
            .burger {
                width: 14px;
                display: block;
                margin: 6px;
        
                div {
                    height: 2px;
                    background-color: #fff;
                    margin: 3px 0;
                    border-radius: 25px;
        
                    &.one {
                        width: 7px;
                        margin-left: auto;
                    }
                    &.two {
                        // 
                    }
                    &.three {
                        width: 7px;
                    }
                }
            }
        }
    
        .container {
            margin: 50px auto;
            display: flex;
            justify-content: center;
    
            span {
                color: #f5f5f566;
                font-size: .85rem;
            }
    
            .search-icon {
                position: absolute;
                margin-top: 11px;
                margin-left: 16px;
            }
    
            .search-column {
                background-image: url('../icons/icons8-search-24.png');
                background-position: 10px 12px;
                background-repeat: no-repeat;
                background-color: #f5f5f521;
                width: 100%;
                font-size: 16px;
                padding: 12px 20px 12px 40px;
                border: none;
                margin-bottom: 12px;
                border-radius: 17px;
                color: #ffffff91;
    
                &::placeholder {
                    color: #ffffff91;
                    letter-spacing: .5px;
                    padding-left: 5px;
                    font-size: .8rem;
                }
    
                &:focus {
                    outline-width: 0.3px;
                    outline-color: #fff;
                    outline-style: solid;
                }
            }

            &.projects {
                .outer-card {
                    display: flex;
                    flex-flow: column;
                    align-items: center;  
                }
        
                .card.project {
                    background-image: url(../img/bg-project-2.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 100px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    border-radius: 15px;
                    outline: none;
                    // transition: outline .1s;

                    &:hover {
                        outline-width: 3px;
                        outline-color: rgba(112, 0, 192, 0.786);
                        outline-style: solid;
                        outline-offset: 8px;
                    }

                    &.last {
                        background-image: none;
                        background-color: #3c3c3c81 !important;
                    }
                }
        
                .badge{
                    position: absolute;
                    top: -12px;
                    background-color: #cbd1d8;
                    border: 4px solid #252a41;
                    left: 100%;
                }
        
                h5 {
                    color: #fff;
                    font-family: NunitoBold;
                    margin: auto 0;
                }
        
                span {
                    font-size: .7rem !important;
                    margin-top: 15px;
                }
            }
        }
    }

    .right-section {
        color: #000;
        font-family: 'NunitoRegular';

        h1,h2,h3,h4,h5,h6 {
            color: #252a41;
            letter-spacing: .2px;
        }

        p {
            font-size: .8rem;
            font-family: 'NunitoSemiBold';
            color: rgb(173, 173, 173);
        }

        label,span {
            font-size: .7rem;
        }

        .label {
            max-width: 20rem;
        }

        .card {
            height: 100%;
            border-radius: 15px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
          
        li {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid white;
            display: inline-block;
            position: relative;
            -webkit-transition: .2s ease;
            transition: .2s ease;

            &:nth-child(1) {
                background-image: url(https://sunrift.com/wp-content/uploads/2014/12/Blake-profile-photo-square.jpg); 
                background-size: cover;
                z-index:3;
            }
            &:nth-child(2) {
                background-image: url(https://media.creativemornings.com/uploads/user/avatar/49419/Bechtel_Profile_Square.jpg); 
                background-size: cover;
                z-index:2;
            }
            &:nth-child(3) {
                background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStDomcE_8QHRDVipq66SyxTb-XpPPYlt49UPxz9AHXh0kFYf-F5siCjy4qfKVMyiaBKks&usqp=CAU); 
                background-size: cover;
                z-index:1;
            }
            &:nth-child(n+2) {
                margin-left: -13px;
            }
        }

        .add-button {
            position: absolute;
            margin-left: 85px;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            border: 2px solid #dadada;
            background-color: transparent;
            
            &::after {
                content: "\002B";
                color: #dadada;
                font-size: 15px;
                font-weight: 900;
            }
        }

        .flex-around {
            display:flex;
            flex-flow: column;

            .option-input {
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                -o-appearance: none;
                appearance: none;
                position: relative;
                top: 11px;
                right: 0;
                bottom: 0;
                left: 0;
                height: 25px;
                width: 25px;
                transition: all 0.15s ease-out 0s;
                background: transparent;
                border: 2px solid #cbd1d8;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                margin-right: 1rem;
                margin-bottom: 3px;
                outline: none;
                position: relative;
                z-index: 1000;
    
                &.hover {
                    background: #9faab7;
                }
                &:checked {
                    background: #40e0d0;
                    border: none;
                }
                &:checked::before {
                    width: 25px;
                    height: 25px;
                    display: flex;
                    content: '\2713';
                    font-size: 13px;
                    font-weight:bold;
                    position: absolute;
                    align-items:center;
                    justify-content:center;
                    font-family:'Font Awesome 5 Free';
                }
                &:checked::after {
                    -webkit-animation: click-wave 0.65s;
                    -moz-animation: click-wave 0.65s;
                    animation: click-wave 0.65s;
                    background: #40e0d0;
                    content: '';
                    display: block;
                    position: relative;
                    z-index: 100;
                }
    
                &.radio {
                    border-radius: 50%;
                }
                &.radio::after {
                    border-radius: 50%;
                }
            }

            .btn-approve {
                border-radius: 15px;
                width: 5.6rem;
                padding: .2rem 1.2rem;
                font-size: .6rem;
                background-color: #4bdc5c46;
                color: #1eaa2f;
                font-family: 'NunitoBold';
                border: none;
            }
            .btn-progress {
                border-radius: 15px;
                width: 5.6rem;
                padding: .2rem 1.2rem;
                font-size: .6rem;
                background-color: #4b9bdc46;
                color: #4b9bdc;
                font-family: 'NunitoBold';
                border: none;
            }
            .btn-review {
                border-radius: 15px;
                width: 5.6rem;
                padding: .2rem 1.2rem;
                font-size: .6rem;
                background-color: #fca84046;
                color: #fca840;
                font-family: 'NunitoBold';
                border: none;
            }
            .btn-waiting {
                border-radius: 15px;
                width: 5.6rem;
                padding: .2rem 1.2rem;
                font-size: .6rem;
                background-color: #c3c3c346;
                color: #a5a5a5;
                font-family: 'NunitoBold';
                border: none;
            }
        }

        .dots {
            display: flex;

            .dot {
                width: 3px;
                height: 3px;
                margin-right: 3px;
                border-radius: 3px;
                background-color: #dedede;
            }
        }

        .outer-button-add {
            display: flex;
            justify-content: end;
            margin: 25px;

            button {
                border: none;
                background-color: #7D1E6A;
                color: #fff;
                padding: 6px 15px;
                border-radius: 10px;
                box-shadow: 0 1px 1px rgba(174, 0, 255, 0.11), 
                            0 2px 2px rgba(174, 0, 255,0.11), 
                            0 4px 4px rgba(174, 0, 255,0.11), 
                            0 8px 8px rgba(174, 0, 255,0.11), 
                            0 16px 16px rgba(174, 0, 255,0.11), 
                            0 32px 32px rgba(174, 0, 255,0.11);
                
                &:hover {
                    transform: scale(1.05);
                }
                &::after {
                    font-size: 20px;
                    content: "\002B";
                }
            }
        }
    }    
}