@charset "UTF-8";
@font-face {
  font-family: NunitoRegular;
  src: url(../fonts/Nunito-Regular.ttf) format("truetype");
}
@font-face {
  font-family: NunitoSemiBold;
  src: url(../fonts/Nunito-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: NunitoBold;
  src: url(../fonts/Nunito-Bold.ttf) format("truetype");
}
body {
  font-family: NunitoRegular;
  letter-spacing: 0.4px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: NunitoBold;
  letter-spacing: 1px;
}

.outer {
  margin: 50px;
  padding: 15px;
  background-color: #252a41;
  color: #fff;
  border-radius: 15px;
}
.outer .left-section .burger-button {
  position: absolute;
  display: inline-block;
  background-color: rgba(128, 128, 128, 0.4);
  padding: 4px;
  border-radius: 10px;
}
.outer .left-section .burger-button .burger {
  width: 14px;
  display: block;
  margin: 6px;
}
.outer .left-section .burger-button .burger div {
  height: 2px;
  background-color: #fff;
  margin: 3px 0;
  border-radius: 25px;
}
.outer .left-section .burger-button .burger div.one {
  width: 7px;
  margin-left: auto;
}
.outer .left-section .burger-button .burger div.three {
  width: 7px;
}
.outer .left-section .container {
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
.outer .left-section .container span {
  color: rgba(245, 245, 245, 0.4);
  font-size: 0.85rem;
}
.outer .left-section .container .search-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 16px;
}
.outer .left-section .container .search-column {
  background-image: url("../icons/icons8-search-24.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  background-color: rgba(245, 245, 245, 0.1294117647);
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: none;
  margin-bottom: 12px;
  border-radius: 17px;
  color: rgba(255, 255, 255, 0.568627451);
}
.outer .left-section .container .search-column::-moz-placeholder {
  color: rgba(255, 255, 255, 0.568627451);
  letter-spacing: 0.5px;
  padding-left: 5px;
  font-size: 0.8rem;
}
.outer .left-section .container .search-column:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.568627451);
  letter-spacing: 0.5px;
  padding-left: 5px;
  font-size: 0.8rem;
}
.outer .left-section .container .search-column::placeholder {
  color: rgba(255, 255, 255, 0.568627451);
  letter-spacing: 0.5px;
  padding-left: 5px;
  font-size: 0.8rem;
}
.outer .left-section .container .search-column:focus {
  outline-width: 0.3px;
  outline-color: #fff;
  outline-style: solid;
}
.outer .left-section .container.projects .outer-card {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.outer .left-section .container.projects .card.project {
  background-image: url(../img/bg-project-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  outline: none;
}
.outer .left-section .container.projects .card.project:hover {
  outline-width: 3px;
  outline-color: rgba(112, 0, 192, 0.786);
  outline-style: solid;
  outline-offset: 8px;
}
.outer .left-section .container.projects .card.project.last {
  background-image: none;
  background-color: rgba(60, 60, 60, 0.5058823529) !important;
}
.outer .left-section .container.projects .badge {
  position: absolute;
  top: -12px;
  background-color: #cbd1d8;
  border: 4px solid #252a41;
  left: 100%;
}
.outer .left-section .container.projects h5 {
  color: #fff;
  font-family: NunitoBold;
  margin: auto 0;
}
.outer .left-section .container.projects span {
  font-size: 0.7rem !important;
  margin-top: 15px;
}
.outer .right-section {
  color: #000;
  font-family: "NunitoRegular";
}
.outer .right-section h1, .outer .right-section h2, .outer .right-section h3, .outer .right-section h4, .outer .right-section h5, .outer .right-section h6 {
  color: #252a41;
  letter-spacing: 0.2px;
}
.outer .right-section p {
  font-size: 0.8rem;
  font-family: "NunitoSemiBold";
  color: rgb(173, 173, 173);
}
.outer .right-section label, .outer .right-section span {
  font-size: 0.7rem;
}
.outer .right-section .label {
  max-width: 20rem;
}
.outer .right-section .card {
  height: 100%;
  border-radius: 15px;
}
.outer .right-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.outer .right-section li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  position: relative;
  transition: 0.2s ease;
}
.outer .right-section li:nth-child(1) {
  background-image: url(https://sunrift.com/wp-content/uploads/2014/12/Blake-profile-photo-square.jpg);
  background-size: cover;
  z-index: 3;
}
.outer .right-section li:nth-child(2) {
  background-image: url(https://media.creativemornings.com/uploads/user/avatar/49419/Bechtel_Profile_Square.jpg);
  background-size: cover;
  z-index: 2;
}
.outer .right-section li:nth-child(3) {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStDomcE_8QHRDVipq66SyxTb-XpPPYlt49UPxz9AHXh0kFYf-F5siCjy4qfKVMyiaBKks&usqp=CAU);
  background-size: cover;
  z-index: 1;
}
.outer .right-section li:nth-child(n+2) {
  margin-left: -13px;
}
.outer .right-section .add-button {
  position: absolute;
  margin-left: 85px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid #dadada;
  background-color: transparent;
}
.outer .right-section .add-button::after {
  content: "+";
  color: #dadada;
  font-size: 15px;
  font-weight: 900;
}
.outer .right-section .flex-around {
  display: flex;
  flex-flow: column;
}
.outer .right-section .flex-around .option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 11px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 25px;
  transition: all 0.15s ease-out 0s;
  background: transparent;
  border: 2px solid #cbd1d8;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 3px;
  outline: none;
  position: relative;
  z-index: 1000;
}
.outer .right-section .flex-around .option-input.hover {
  background: #9faab7;
}
.outer .right-section .flex-around .option-input:checked {
  background: #40e0d0;
  border: none;
}
.outer .right-section .flex-around .option-input:checked::before {
  width: 25px;
  height: 25px;
  display: flex;
  content: "✓";
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 5 Free";
}
.outer .right-section .flex-around .option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}
.outer .right-section .flex-around .option-input.radio {
  border-radius: 50%;
}
.outer .right-section .flex-around .option-input.radio::after {
  border-radius: 50%;
}
.outer .right-section .flex-around .btn-approve {
  border-radius: 15px;
  width: 5.6rem;
  padding: 0.2rem 1.2rem;
  font-size: 0.6rem;
  background-color: rgba(75, 220, 92, 0.2745098039);
  color: #1eaa2f;
  font-family: "NunitoBold";
  border: none;
}
.outer .right-section .flex-around .btn-progress {
  border-radius: 15px;
  width: 5.6rem;
  padding: 0.2rem 1.2rem;
  font-size: 0.6rem;
  background-color: rgba(75, 155, 220, 0.2745098039);
  color: #4b9bdc;
  font-family: "NunitoBold";
  border: none;
}
.outer .right-section .flex-around .btn-review {
  border-radius: 15px;
  width: 5.6rem;
  padding: 0.2rem 1.2rem;
  font-size: 0.6rem;
  background-color: rgba(252, 168, 64, 0.2745098039);
  color: #fca840;
  font-family: "NunitoBold";
  border: none;
}
.outer .right-section .flex-around .btn-waiting {
  border-radius: 15px;
  width: 5.6rem;
  padding: 0.2rem 1.2rem;
  font-size: 0.6rem;
  background-color: rgba(195, 195, 195, 0.2745098039);
  color: #a5a5a5;
  font-family: "NunitoBold";
  border: none;
}
.outer .right-section .dots {
  display: flex;
}
.outer .right-section .dots .dot {
  width: 3px;
  height: 3px;
  margin-right: 3px;
  border-radius: 3px;
  background-color: #dedede;
}
.outer .right-section .outer-button-add {
  display: flex;
  justify-content: end;
  margin: 25px;
}
.outer .right-section .outer-button-add button {
  border: none;
  background-color: #7D1E6A;
  color: #fff;
  padding: 6px 15px;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(174, 0, 255, 0.11), 0 2px 2px rgba(174, 0, 255, 0.11), 0 4px 4px rgba(174, 0, 255, 0.11), 0 8px 8px rgba(174, 0, 255, 0.11), 0 16px 16px rgba(174, 0, 255, 0.11), 0 32px 32px rgba(174, 0, 255, 0.11);
}
.outer .right-section .outer-button-add button:hover {
  transform: scale(1.05);
}
.outer .right-section .outer-button-add button::after {
  font-size: 20px;
  content: "+";
}/*# sourceMappingURL=main.css.map */