@media only screen and (max-width: 608px) {
    .label {
        font-size: .6rem !important;
    }
    .btn-status {
        font-size: .6rem !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    
}

@media only screen and (min-width: 992px) and (max-width: 1110px) {
    .label {
        font-size: .6rem !important;
    }
}